{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div id="content">
	<h1>Reset your password</h1>
	<form action="" method="post">
		{{ form.e.errors }}
		{{ form.e }}{{ form.h }}
		<table>
			<tr>
				<th><label for="id_password1">Password:</label></th>
				<td>{{ form.password1.errors }}{{ form.password1 }}</td>
			</tr>
			<tr>
				<th><label for="id_password2">Password (again):</label></th>
				<td>{{ form.password2.errors }}{{ form.password2 }}</td>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<td>
					<button type="submit">Reset the password</button>
				</td>
			</tr>
		</table>
	</form>
</div>
{% endblock %}
