<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<p>Hello,</p>

<p>Somebody requested a password reset for this e-mail address ({{ email }}). To reset your password, click the following link:</p>

<p><a href="{{ url }}">{{ url }}</a></p>

<p>If you don't want to reset your password, just ignore this e-mail, and your password will remain the same.</p>
</body>
</html>