{% extends "base.html" %}

{% block title %}Request a password reset{% endblock %}


{% block content %}
<div id="content">
	<h1>Request a password reset</h1>
	<h2>Step 1: Enter your e-mail address</h2>
	<p>We'll e-mail you a secret link that lets you reset your password.</p>

	<form action="/accounts/password-change/" method="post">
		<table>
			<tr>
				<th><label for="id_email">E-mail address:</label></th>
				<td>{{ form.email.errors }}{{ form.email }}</td>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<td>
					<button type="submit">Request password reset</button>
				</td>
			</tr>
		</table>
	</form>
</div>
{% endblock %}
